<footer>
    <div class="footer-container">
        <h2>Contact Us</h2>
            <div class="footer-nav">
                <div class="nav-content">
                    <h6>Adress</h6>
                    <div>
                        <p>500 Terry Francois St.</p>
                        <p>San Francisco, CA 94158</p>
                    </div>
                </div>
                <div class="nav-content">
                    <h6>Contacts</h6>
                    
                        <p>123-456-7890</p>
                        <a href="mailto:info@mysite.com">info@mysite.com</a>
                        <div class="nav-social">
                            <a href="https://www.facebook.com/miacosmetics.latvia/reviews/"><button><i class="fa-brands fa-facebook-f"></i></button></a>
                            <a href="https://www.instagram.com/miacosmeticsofficial/?hl=ru"><button><i class="fa-brands fa-instagram"></i></button></a>
                            <a href="https://twitter.com/miacosmeticsuk"><button><i class="fa-brands fa-twitter"></i></button></a>
                    </div>
                </div>
        </div>
        <div class="map-container">

        </div>
    </div>


</footer>