<header>
    <div class="header-container">
        <div class="header-logo">
            <div class="logo-img">
                <span>MIA</span>
            </div>
        </div>
        <div class="header-nav">
            <a href="">About us</a>
            <a href="">Conatacts</a>
            <a href="../catalog1.html">Catalog</a>
            <a href="">Loyality</a>
        </div>
        <div class="header-client">
            <button class="open-burger"><i class="fa-solid fa-bars"></i></button>
            <div class="burger-nav">
                <button class="close-burger"><i class="fa-regular fa-circle-xmark"></i></button>
                <div class="links-container">
                    <a href="">About us</a>
                    <a href="">Conatacts</a>
                    <a href="../catalog1.html">Catalog</a>
                    <a href="">Loyality</a>
                </div>    
            </div>
            <div class="header-btns">
                <div class="user-menu">
                    
                        <button id="acc">
                            <i class="fa-regular fa-user"></i>
                            <i class="fa-solid fa-arrow-down"></i>
                        </button>
    
                        <nav class="sub-menu disable">
                            <ul class="sub-menu-list">
                                <li class="sub-menu-option"><a href="#">Мій аккаунт</a></li>
                                <li class="sub-menu-option">
                                    <a href="#">Промокоди та знижки</a>
                                    <ul class="sub-sub-menu-list">
                                        <li class="sub-sub-menu-option"><a href="#">Створити свій промокод</a></li>
                                        <li class="sub-sub-menu-option"><a href="#">Додати промокод на знижку</a></li>
                                        <li class="sub-sub-menu-option"><a href="#">Донат на ЗСУ</a></li>
                                    </ul>
                                </li>
                                <li class="sub-menu-option">
                                    <a href="#">Історія замовлень</a>
                                    <ul class="sub-sub-menu-list">
                                        <li class="sub-sub-menu-option"><a href="#">Доставка на магазин</a></li>
                                        <li class="sub-sub-menu-option"><a href="#">Онлайн замовлення</a></li>
                                        <li class="sub-sub-menu-option"><a href="#">Отримані</a></li>
                                    </ul>
                                </li>
                                <li class="sub-menu-option"><a href="#">Служба підтримки</a></li>
                            </ul>
                        </nav>
    
                    </div>

                
                <div class="user-shopping">
                    <button id="shop">
                        <i class="fa-solid fa-bag-shopping"></i>
                    </button>
                </div> 
        </div>   
            </div>
        </div>
    </div>
</header>